*, *::before, *::after {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: #eee;
    border-radius: 5px;
    padding: .5rem;
    box-shadow: 0 0 10px 2px;
}

#clock {
    background: rgb(221, 68, 68);
    color: rgb(250, 250, 208);
    font-size: 1.5rem;
    text-align: center;
}

#question {
    padding: .5rem 0;
    margin-top: 1rem;
    font-size: 1.5rem;
    background-color: rgb(219, 143, 2);
    color: rgb(247, 243, 243);
    text-align: center;
}

#initials {
    padding: .5rem 0;
    margin-top: 1rem;
    font-size: 1.5rem;
    background-color: rgb(2, 71, 219);
    color: rgb(247, 243, 243);
    text-align: center;
}

#winner {
    color: rgb(2,71,219);
    background-color: rgb(247, 243, 243);
    font-size: 1.5rem;
    margin: 2px;
    width: 3rem;
    overflow: hidden;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
    background-color: lightgray;
}

.btn {
    font-size: 1rem;
    padding: 10px 10px;
    text-align: center;
    align-items: center;
    border: 0.1rem solid darkblue;
    margin-bottom: 1.rem;
    text-decoration: none;
    color: darkblue;
    background-color: lightskyblue;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.2rem 1rem 0 blue;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    border: 0.1rem solid rgb(253, 215, 64);
    margin-bottom: 1.rem;
    text-decoration: none;
    color: rgb(17, 16, 16);
    background-color: cornsilk;
}

.hide {
    display: none;
}

